    .about {
        max-width: 1320px;
        margin: 0 auto;
        margin-bottom: 140px;
        padding: 0;
        box-sizing: border-box;
        @include for-dasctop-small {
            max-width: 955px;
        }
        @include for-mobile {
            margin-bottom: 100px;
        }
    }
    
    .about__title {
        font-family: 'Lato-Bold', sans-serif;
        font-size: 48px;
        line-height: 64px;
        opacity: 1;
        text-align: center;
        margin-bottom: 100px;
        @include for-dasctop-small {
            font-size: 40px;
            line-height: 50px;
            margin-bottom: 96px;
        }
        @include for-mobile {
            font-size: 24px;
            line-height: 150%;
            margin-bottom: 50px;
        }
    }
    
    .about__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include for-mobile {
            flex-direction: column;
        }
    }
    
    .about__item_statistics {
        @include for-mobile {
            flex-direction: column-reverse;
        }
    }
    
    .item_desc-statistics {
        margin-top: 65px;
        @include for-mobile {
            margin-top: 30px;
        }
    }
    
    .about__item_image {
        width: 100%;
        height: auto;
    }
    
    .item__image-smartphote {
        max-width: 456px;
        margin-right: 80px;
        @include for-dasctop-small {
            max-width: 352px;
            max-height: 362px;
            height: auto;
        }
        @include for-tablet-large {
            width: 270px;
            height: 277px;
            margin-right: 40px;
        }
        @include for-mobile {
            margin-right: 0;
        }
    }
    
    .item__image-statistics {
        max-width: 474px;
        margin-left: 80px;
        @include for-dasctop-small {
            max-width: 358px;
            max-height: 358px;
            height: auto;
        }
        @include for-tablet-large {
            width: 270px;
            height: 270px;
            margin-left: 0;
            margin-top: 50px;
            margin-right: 15px;
        }
        @include for-mobile {
            margin-top: 40px;
            margin-right: 0;
        }
    }
    
    .desc__statistics-text {
        @include for-tablet-large {
            margin-top: 15px;
            margin-bottom: 0;
        }
        @include for-tablet-large {
            margin-right: 40px;
        }
        @include for-mobile {
            margin-right: 15px;
        }
    }