body {
    padding: 0;
    margin: 0;
    font-family: 'Lato-Regular', sans-serif;
    font-size: 25px;
    line-height: 160%;
    font-weight: normal;
    color: #331A2F;
    opacity: 0.8;
    @include for-dasctop-small {
        font-size: 20px;
    }
    @include for-mobile {
        font-size: 18px;
    }
}

.pink {
    color: #CF51CE;
}

.noshown {
    display: none;
}

.shown {
    display: block;
}