.courses {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 132px;
    @include for-dasctop-small {
        margin-bottom: 77px;
    }
    @include for-mobile {
        position: relative;
        flex-direction: column;
        margin-bottom: 85px;
    }
}

.courses__text_title {
    font-family: 'Lato-Bold', sans-serif;
    font-size: 56px;
    line-height: 80px;
    opacity: 1;
    margin-top: 0;
    margin-bottom: 22px;
    @include for-dasctop-small {
        font-size: 46px;
        line-height: 52px;
        margin-bottom: 40px;
    }
    @include for-mobile {
        font-size: 26px;
        line-height: 150%;
        margin-bottom: 24px;
        max-width: 202px;
    }
}

.courses__text_price {
    position: relative;
    margin-top: 0;
    margin-bottom: 20px;
    @include for-dasctop-small {
        margin-bottom: 40px;
    }
}

.courses___price_icon {
    width: 48px;
    height: 47px;
    vertical-align: middle;
    margin-right: 15px;
}

.text__price_number {
    font-family: 'Lato-Semibold', sans-serif;
    font-size: 35px;
    line-height: 30px;
    opacity: 1;
}

.courses__text_desc {
    margin-top: 0;
    margin-bottom: 15px;
    @include for-mobile {
        margin-right: 13px;
    }
}

.courses__image {
    max-width: 620px;
    max-height: 604px;
    height: auto;
    margin-left: 42px;
    @include for-dasctop-small {
        max-width: 458px;
        max-height: 459px;
        height: auto;
        margin-left: 31px;
    }
    @include for-tablet-big {
        max-width: 285px;
        margin-left: 15px;
    }
    @include for-tablet {
        display: none;
    }
}

.courses__image-adaptive {
    display: none;
    @include for-tablet {
        display: block;
        max-width: 440px;
        width: 100%;
        max-height: 440px;
        height: auto;
    }
    @include for-mobile {
        position: absolute;
        max-width: 120px;
        right: 0;
        top: -30px;
    }
}