.features {
    margin-bottom: 131px;
    @include for-dasctop-small {
        margin-right: 30px;
    }
    @include for-tablet-large {
        margin-right: 0;
    }
}

.features__title {
    font-family: 'Lato-Bold', sans-serif;
    font-size: 48px;
    line-height: 64px;
    opacity: 1;
    text-align: center;
    margin-top: 0;
    margin-bottom: 33px;
    @include for-dasctop-small {
        font-size: 40px;
        line-height: 50px;
    }
    @include for-mobile {
        font-size: 24px;
        line-height: 150%;
        margin-right: 15px;
    }
}

.features__title_border {
    position: relative;
}

.features__title_border::after {
    content: "";
    position: absolute;
    background-image: url(../img/icons/leaner-line.svg);
    background-repeat: no-repeat;
    width: 261px;
    height: 7px;
    bottom: -10px;
    left: 0px;
    @include for-dasctop-small {
        width: 218px;
        height: 6px;
    }
    @include for-mobile {
        width: 131px;
        height: 4px;
    }
}

.features__desc {
    text-align: center;
    margin-bottom: 70px;
    @include for-mobile {
        margin-bottom: 30px;
    }
}

.features__items {
    display: flex;
    justify-content: space-between;
    @include for-tablet-large {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    @include for-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 50px;
        margin-right: 50px;
    }
}

.features__item {
    position: relative;
    max-width: 290px;
    // padding-top: 125px;
    @include for-dasctop-small {
        max-width: 226px;
        margin-right: 20px;
    }
    @include for-tablet-large {
        justify-self: center;
        margin-right: 20px;
    }
    @include for-mobile {
        margin-right: 0;
        max-width: 100%;
    }
}

.item_target_icon,
.item_site_icon,
.item_friends_icon,
.item_creators_icon {
    width: 110px;
    height: 110px;
    margin-left: -25px;
    @include for-dasctop-small {
        top: 10px;
    }
}

.item_site::before {
    background-image: url(../img/icons/site.svg);
}

.item_friends::before {
    background-image: url(../img/icons/friends.svg);
}

.item_creators::before {
    background-image: url(../img/icons/creators.svg);
}

.features__item-title {
    font-family: 'Lato-Semibold', sans-serif;
    font-size: 24px;
    line-height: 150%;
    opacity: 1;
    margin-top: 0;
    margin-bottom: 15px;
    @include for-dasctop-small {
        margin-bottom: 10px;
        font-size: 20px;
    }
    @include for-mobile {
        font-size: 18px;
    }
}

.features__item-desc {
    font-size: 18px;
    line-height: 29px;
    margin: 0;
    @include for-dasctop-small {
        font-size: 16px;
    }
    @include for-tablet-large {
        line-height: 160%;
    }
}