.features {
    margin-bottom: 131px;
    @include for-dasctop-small {
        margin-right: 30px;
    }
}

.features__title {
    font-family: 'Lato-Bold', sans-serif;
    font-size: 48px;
    line-height: 64px;
    opacity: 1;
    text-align: center;
    margin-top: 0;
    margin-bottom: 33px;
    @include for-dasctop-small {
        font-size: 40px;
        line-height: 50px;
    }
}

.features__title_border {
    position: relative;
}

.features__title_border::after {
    content: "";
    position: absolute;
    background-image: url(../img/icons/leaner-line.svg);
    background-repeat: no-repeat;
    width: 261px;
    height: 7px;
    bottom: -10px;
    left: 0px;
    @include for-dasctop-small {
        width: 218px;
        height: 6px;
    }
}

.features__desc {
    text-align: center;
    margin-bottom: 70px;
}

.features__items {
    display: flex;
    justify-content: space-between;
}

.features__item {
    position: relative;
    max-width: 290px;
    padding-top: 125px;
    @include for-dasctop-small {
        max-width: 226px;
        margin-right: 20px;
    }
}

.features__item::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 95px;
    height: 95px;
    top: 0px;
    left: -25px;
    @include for-dasctop-small {
        top: 10px;
    }
}

.item_target::before {
    background-image: url(../img/icons/target.svg);
}

.item_site::before {
    background-image: url(../img/icons/site.svg);
}

.item_friends::before {
    background-image: url(../img/icons/friends.svg);
}

.item_creators::before {
    background-image: url(../img/icons/creators.svg);
}

.features__item-title {
    font-family: 'Lato-Semibold', sans-serif;
    font-size: 24px;
    line-height: 150%;
    opacity: 1;
    margin-top: 0;
    margin-bottom: 15px;
    @include for-dasctop-small {
        margin-bottom: 10px;
        font-size: 20px;
    }
}

.features__item-desc {
    font-size: 18px;
    line-height: 29px;
    margin: 0;
    @include for-dasctop-small {
        font-size: 16px;
    }
}