.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 23px;
    margin-bottom: 66px;
}

.header__logo-block {
    display: flex;
}

.header__logo-block_link {
    display: flex;
    flex-direction: column;
    margin-right: 19px;
    @include for-tablet {
        margin-right: 15px;
    }
}

.logo-block__link-4 {
    width: 60px;
    height: 30px;
    @include for-dasctop-small {
        width: 45px;
        height: 23px;
    }
}

.logo-block__link-text {
    width: 163px;
    height: 38px;
    margin-left: 78px;
    @include for-dasctop-small {
        width: 126px;
        height: 30px;
        margin-left: 60px;
        margin-top: -15px;
    }
    @include for-tablet {
        margin-top: 0px;
    }
}

.header__logo-block_text {
    font-size: 14px;
    line-height: 18px;
    padding-left: 25px;
    border-left: 1px solid rgba(51, 26, 47, 0.5);
    padding-top: 13px;
    padding-bottom: 13px;
    @include for-dasctop-small {
        font-size: 10px;
        padding-left: 19px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    @include for-tablet {
        line-height: 14px;
    }
}

.header__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    @include for-tablet-large {
        display: none;
    }
}

.menu__link {
    font-family: 'Lato-Regular', sans-serif;
    font-size: 24px;
    line-height: 35px;
    font-weight: normal;
    color: #331A2F;
    opacity: 1;
    text-decoration: none;
    margin-right: 50px;
    @include for-dasctop-small {
        font-size: 18px;
        margin-right: 40px;
        margin-left: 10px;
    }
    @include for-tablet-large {
        display: none;
    }
}

.menu__link_last {
    @include for-dasctop-small {
        margin-right: 10px;
    }
}

.menu__link_list {
    position: relative;
    margin-right: 70px;
}

.menu__link_list::after {
    content: "";
    position: absolute;
    background-image: url(../img/icons/arrow.svg);
    background-repeat: no-repeat;
    width: 13px;
    height: 12px;
    top: 11px;
    right: -23px;
    @include for-dasctop-small {
        top: 5px;
    }
}

.header__contact {
    position: relative;
    margin-right: 0;
    padding-left: 25px;
}

.header__contact::before {
    content: "";
    position: absolute;
    background-image: url(../img/icons/tel.svg);
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
    top: 7px;
    left: -5px;
}

.header__btn {
    position: relative;
    background-color: #CF51CE;
    border: none;
    border-radius: 12px;
    padding: 4px 32px 5px 69px;
    font-family: 'Lato-Medium', sans-serif;
    font-size: 23px;
    line-height: 35px;
    font-weight: normal;
    color: #ffffff;
    opacity: 1;
    @include for-dasctop-small {
        font-size: 18px;
        padding: 4px 32px 5px 66px;
    }
}

.header__btn::before {
    content: "";
    position: absolute;
    background-image: url(../img/icons/enter.svg);
    background-repeat: no-repeat;
    width: 23px;
    height: 23px;
    top: 10px;
    left: 35px;
}

.mobile-menu__container {
    display: none;
}

.btn-close {
    margin-top: 40px;
    margin-left: 20px;
}

.header__menu {
    @include for-tablet-large {
        display: none;
    }
}

.header__button {
    @include for-tablet-large {
        margin-right: 20px;
    }
}

.mobile-menu {
    @include for-tablet-large {
        display: block;
        padding: 0 16px;
        width: 82px;
        height: 50px;
        border: none;
        background-color: #ffffff;
        cursor: pointer;
    }
}

.mobile-menu__icon {
    @include for-tablet-large {
        display: block;
        position: relative;
        background: #CF51CE;
        height: 4px;
        transition: transform 0.25s;
    }
}

.mobile-menu__icon::after,
.mobile-menu__icon::before {
    @include for-tablet-large {
        content: "";
        display: block;
        position: absolute;
        background: #CF51CE;
        width: 100%;
        height: 4px;
    }
}

.mobile-menu__icon::after {
    @include for-tablet-large {
        top: 10px;
        width: 32px;
        right: 0;
    }
}

.mobile-menu__icon::before {
    @include for-tablet-large {
        top: -10px;
    }
}

.mobile-menu__container {
    @include for-tablet-large {
        display: none;
        position: absolute;
        left: 0;
        top: 80px;
        right: 0;
        z-index: 999;
        transition: .5s;
    }
}

.mobile-menu__container.shown {
    @include for-tablet-large {
        display: block;
    }
}

.mobile-menu__list {
    @include for-tablet-large {
        list-style: none;
        padding-left: 0;
        text-align: center;
        background-color: #c7f6fc;
    }
}

.mobile-menu__item {
    @include for-tablet-large {
        padding-bottom: 15px;
        text-transform: uppercase;
    }
}