.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 23px;
    margin-bottom: 66px;
}

.header__logo-block {
    display: flex;
}

.header__logo-block_link {
    display: flex;
    flex-direction: column;
    margin-right: 19px;
}

.logo-block__link-4 {
    width: 60px;
    height: 30px;
    @include for-dasctop-small {
        width: 45px;
        height: 23px;
    }
}

.logo-block__link-text {
    width: 163px;
    height: 38px;
    margin-left: 78px;
    @include for-dasctop-small {
        width: 126px;
        height: 30px;
        margin-left: 60px;
        margin-top: -15px;
    }
}

.header__logo-block_text {
    font-size: 14px;
    line-height: 18px;
    padding-left: 25px;
    border-left: 1px solid rgba(51, 26, 47, 0.5);
    padding-top: 13px;
    padding-bottom: 13px;
    @include for-dasctop-small {
        font-size: 10px;
        padding-left: 19px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.header__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.menu__link {
    font-family: 'Lato-Regular', sans-serif;
    font-size: 24px;
    line-height: 35px;
    font-weight: normal;
    color: #331A2F;
    opacity: 1;
    text-decoration: none;
    margin-right: 50px;
    @include for-dasctop-small {
        font-size: 18px;
    }
}

.menu__link_list {
    position: relative;
    margin-right: 70px;
}

.menu__link_list::after {
    content: "";
    position: absolute;
    background-image: url(../img/icons/arrow.svg);
    background-repeat: no-repeat;
    width: 13px;
    height: 12px;
    top: 11px;
    right: -23px;
    @include for-dasctop-small {
        top: 5px;
    }
}

.header__contact {
    position: relative;
    margin-right: 0;
    padding-left: 25px;
}

.header__contact::before {
    content: "";
    position: absolute;
    background-image: url(../img/icons/tel.svg);
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
    top: 7px;
    left: -5px;
}

.header__btn {
    position: relative;
    background-color: #CF51CE;
    border: none;
    border-radius: 12px;
    padding: 4px 32px 5px 69px;
    font-family: 'Lato-Medium', sans-serif;
    font-size: 23px;
    line-height: 35px;
    font-weight: normal;
    color: #ffffff;
    opacity: 1;
    @include for-dasctop-small {
        font-size: 18px;
    }
}

.header__btn::before {
    content: "";
    position: absolute;
    background-image: url(../img/icons/enter.svg);
    background-repeat: no-repeat;
    width: 23px;
    height: 23px;
    top: 10px;
    left: 35px;
}