@mixin for-dasctop-small {
    @media (max-width: $breakpoints-dasctop-small) {
        @content;
    }
}

@mixin for-tablet-large {
    @media (max-width: $breakpoints-tablet-large) {
        @content;
    }
}

@mixin for-tablet-big {
    @media (max-width: $breakpoints-tablet-big) {
        @content;
    }
}

@mixin for-tablet {
    @media (max-width: $breakpoints-tablet) {
        @content;
    }
}

@mixin for-mobile {
    @media (max-width: $breakpoints-mobile) {
        @content;
    }
}