@import "./varible.scss";
@import "./fonts.scss";
@import "./mixins.scss";
@import "./base.scss";
@import "./container.scss";
@import "./header.scss";
@import "./download.scss";
@import "./about.scss";
@import "./geo.scss";
@import "./delivery.scss";
@import "./faq.scss";
@import "./review.scss";
@import "./contacts.scss";
@import "./footer.scss";