@import "./varible.scss";
@import "./fonts.scss";
@import "./mixins.scss";
@import "./base.scss";
@import "./container.scss";
@import "./header.scss";
@import "./breadcrumb.scss";
@import "./courses.scss";
@import "./about.scss";
@import "./features.scss";